{% load static %}
<html lang="pt-BR">
{% include "blog/header.html" %}
    <body>
    {% include "blog/navbar.html" %}
        <div class="page-header">
            <a href="{%url 'post_new'%}" class="top-menu">Criar</a>
            <h1><a href="/">Django Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    {% include "blog/footer.html" %}
    </body>
</html>