.div-background {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/94/93/5757eb4e20d6ac4.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}